Repository open-dm/api, pull requests merged in 2020-02, with the labels that each got.

#13 Docker
  .env.example
  README.md
  docker-compose.yml
  docker/config/mysql.conf
  docker/config/nginx.conf
  docker/config/php.conf
  docker/config/redis.conf
  docker/images/composer.dockerfile
  docker/images/mysql.dockerfile
  docker/images/nginx.dockerfile
  docker/images/node.dockerfile
  docker/images/php.dockerfile
  docker/images/redis.dockerfile
  docker/images/tinker.dockerfile
  toolkit.env.example.sh
  toolkit.sh
Labels: enhancement

#17 fix: fixed tiredness
  docker/images/composer.dockerfile
  toolkit.sh
Labels: bug

#19 Feature languages
  app/Http/Resources/MonsterResource.php
  app/Models/Armor/Armor.php
  app/Models/Characters/Monster.php
  app/Models/Language/Language.php
  app/Models/Language/LanguageScript.php
  database/migrations/2020_02_07_195718_create_language_scripts_table.php
  database/migrations/2020_02_07_195757_create_languages_table.php
  database/migrations/2020_02_07_201312_create_language_monster_table.php
Labels: enhancement

#20 feat: add skill scores to monsters
  app/Http/Resources/MonsterResource.php
  app/Models/Characters/Character.php
  app/Models/Characters/Monster.php
  app/Models/Core/Skill.php
  app/Traits/CharacterSkillsTrait.php
  database/migrations/2020_02_07_215247_create_skills_table.php
  database/migrations/2020_02_07_215325_create_monster_skill_table.php
Labels: enhancement

#18 fix: redis
  docker/images/redis.dockerfile
Labels: bug

#22 Fix composer install command in toolkit
  README.md
  toolkit.sh
Labels: bug

#23 Basic user authentication
  composer.json
  composer.lock
  routes/web.php
Labels: enhancement

#27 Items table and modifiers
  .gitignore
  app/Http/Resources/MonsterResource.php
  app/Models/Armor/Armor.php
  app/Models/Armor/ArmorTypes.php
  app/Models/Characters/Character.php
  app/Models/Characters/Monster.php
  app/Models/Items/Item.php
  app/Models/Items/ItemType.php
  app/Models/Items/Modifier.php
  composer.json
  composer.lock
  database/migrations/2020_02_08_192004_create_modifiers_table.php
  database/migrations/2020_02_08_202352_create_items_table.php
  database/migrations/2020_02_08_202606_create_item_types_table.php
  database/migrations/2020_02_08_203000_create_item_monster_table.php
  database/migrations/2020_02_09_133903_changed-modifier-morph-class-column.php
Labels: enhancement

#33 Implements item actions and deletes weapons
  app/Http/Resources/ActionResource.php
  app/Http/Resources/CharacterAbilitiesResource.php
  app/Http/Resources/LanguageResource.php
  app/Http/Resources/MonsterResource.php
  app/Http/Resources/WeaponResource.php
  app/Models/Characters/Character.php
  app/Models/Characters/Monster.php
  app/Models/Items/Action.php
  app/Models/Items/Item.php
  app/Models/Items/Modifier.php
  app/Models/Weapons/Weapon.php
  app/Models/Weapons/WeaponType.php
  database/migrations/2020_02_01_231733_create_armor_table.php
  database/migrations/2020_02_01_232046_create_armor_types_table.php
  database/migrations/2020_02_01_232220_create_weapons_table.php
  database/migrations/2020_02_01_233215_create_weapon_types_table.php
  database/migrations/2020_02_09_162849_create_actions_table.php
Labels: enhancement, includes_migrations

#39 Feature races
  app/Models/Characters/Character.php
  app/Models/Core/Race.php
  database/migrations/2020_02_10_202510_create_characters_table.php
  database/migrations/2020_02_15_120602_create_race_table.php
  database/seeds/CharacterSeeder.php
  database/seeds/DatabaseSeeder.php
  database/seeds/RaceSeeder.php
Labels: enhancement, includes_migrations

#40 feat: seed challenges
  app/Http/Resources/MonsterListResource.php
  app/Http/Resources/MonsterResource.php
  app/Models/Characters/Monster.php
  app/Models/Core/Challenge.php
  database/migrations/2020_02_01_230757_create_challenge_table.php
  database/migrations/2020_02_10_202510_create_characters_table.php
  database/seeds/ChallengeSeeder.php
  database/seeds/CharacterSeeder.php
  database/seeds/DatabaseSeeder.php
  database/seeds/WeaponSeeder.php
Labels: enhancement, includes_migrations

#41 Feature crud api update
  app/Http/Controllers/API/APIController.php
  app/Http/Controllers/API/Monster/MonsterAPIController.php
  app/Http/Controllers/Api/CharacterController.php
  app/Http/Controllers/Api/MonsterController.php
  app/Http/Controllers/Api/PlayerController.php
  app/Http/Requests/CreateCharacterRequest.php
  app/Http/Requests/UpdateCharacterRequest.php
  app/Http/Resources/AbilitiesResource.php
  app/Http/Resources/AlignmentResource.php
  app/Http/Resources/CharacterResource.php
  app/Http/Resources/RaceResource.php
  app/Http/Resources/SizeResource.php
  app/Models/Characters/Character.php
  app/Models/Characters/Monster.php
  app/Models/Core/Dice.php
  app/Models/Core/Race.php
  database/migrations/2020_02_07_195718_create_language_scripts_table.php
  database/migrations/2020_02_07_195757_create_languages_table.php
  database/migrations/2020_02_07_201312_create_language_monster_table.php
  database/migrations/2020_02_10_202510_create_characters_table.php
  database/seeds/RaceSeeder.php
  routes/api.php
Labels: enhancement, includes_migrations, structure

#43 revert: restore previous API structure
  app/Http/Controllers/Api/AlignmentController.php
  app/Http/Controllers/Api/ApiController.php
  app/Http/Controllers/Api/CharacterController.php
  app/Http/Controllers/Api/MonsterController.php
  app/Http/Controllers/Api/PlayerController.php
  app/Http/Controllers/Api/SizeController.php
  app/Http/Resources/CharacterResource.php
  routes/api.php
Labels: enhancement

#44 fix: set correct model class for PlayerController
  app/Http/Controllers/Api/PlayerController.php
Labels: bug

#45 chore: removed old tables
  database/migrations/2020_02_01_225819_create_monsters_table.php
  database/migrations/2020_02_02_213732_create_monster_weapons_table.php
  database/migrations/2020_02_07_215325_create_monster_skill_table.php
Labels: includes_migrations

#46 Chore fix owlbear race and added environments
  app/Models/Characters/Character.php
  app/Models/Core/Environment.php
  database/migrations/2020_02_10_202510_create_characters_table.php
  database/migrations/2020_02_15_205858_create_environment_table.php
  database/seeds/CharacterSeeder.php
  database/seeds/DatabaseSeeder.php
  database/seeds/EnvironmentSeeder.php
  database/seeds/RaceSeeder.php
Labels: includes_migrations

#47 Chore character actions
  .idea/laravel-plugin.xml
  app/Http/Controllers/Api/CharacterController.php
  app/Http/Controllers/Api/PlayerController.php
  app/Http/Resources/ActionResource.php
  app/Models/Characters/Character.php
  app/Models/Items/Action.php
  database/migrations/2020_02_07_195757_create_languages_table.php
  database/migrations/2020_02_08_203000_create_character_item_table.php
  database/migrations/2020_02_08_203000_create_item_monster_table.php
  database/migrations/2020_02_09_162849_create_actions_table.php
  database/migrations/2020_02_09_164330_create_items_table.php
  database/seeds/ArmorSeeder.php
  database/seeds/CharacterSeeder.php
  database/seeds/LanguageSeeder.php
  database/seeds/WeaponSeeder.php
  routes/api.php
Labels: enhancement, includes_migrations

#48 feat: monster senses
  app/Http/Resources/CharacterResource.php
  app/Http/Resources/SenseResource.php
  app/Models/Characters/Character.php
  app/Models/Core/Sense.php
  database/migrations/2020_02_08_203000_create_character_item_table.php
  database/migrations/2020_02_10_202510_create_characters_table.php
  database/migrations/2020_02_16_151556_create_senses_table.php
  database/seeds/CharacterSeeder.php
  database/seeds/DatabaseSeeder.php
  database/seeds/SenseSeeder.php
Labels: enhancement, includes_migrations
