Repository open-dm/api, pull requests merged in 2020-04, with the labels that each got.

#54 Incorrect resource name in CharacterController.php
  app/Http/Controllers/Api/CharacterController.php
Labels: bug

#53 Add PHPStorm configuration for Unit testing
  .idea/php-test-framework.xml
  .idea/php.xml
Labels: config, non-urgent

#55 Chore fixy refactor
  .idea/OpenDM-Server.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/laravel-plugin.xml
  .idea/modules.xml
  .idea/php.xml
  .idea/symfony2.xml
  .idea/vcs.xml
  app/Events/CharacterDeleting.php
  app/Http/Controllers/Api/CharacterController.php
  app/Http/Controllers/TestController.php
  app/Http/Resources/ActionResource.php
  app/Http/Resources/ItemResource.php
  app/Interfaces/ItemContainer.php
  app/Interfaces/Targetable.php
  app/Listeners/DeleteCharacterRelations.php
  app/Models/Characters/Character.php
  app/Models/Core/Dice.php
  app/Models/Items/Action.php
  app/Models/Items/Item.php
  app/Providers/EventServiceProvider.php
  app/Traits/ItemsTrait.php
  app/Traits/ModelItemContainerTrait.php
  composer.json
  composer.lock
  config/app.php
  database/migrations/2020_02_09_164330_create_items_table.php
  database/migrations/2020_02_09_164354_create_item_types_table.php
  database/migrations/2020_02_09_164418_create_item_subtypes_table.php
  database/migrations/2020_02_10_202510_create_characters_table.php
  database/seeds/WeaponSeeder.php
  database/seeds/monsters/Orc.php
  docker-compose.yml
  docker/images/mysql.dockerfile
  docker/images/nginx.dockerfile
  docker/images/php.dockerfile
  routes/api.php
Labels: includes_migrations
